<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="3.0.0" targetFramework="net452" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="3.0.0.1" targetFramework="net452" />
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.3" targetFramework="net452" />
  <package id="Ewk.Extensions" version="1.1.4759.21149" targetFramework="net452" />
  <package id="Ewk.SoundCloud.ApiLibrary" version="1.1.4809.41996" targetFramework="net452" />
  <package id="GeckoFX" version="1.0.5" targetFramework="net452" />
  <package id="Google.Apis" version="1.37.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.37.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.37.0" targetFramework="net452" />
  <package id="Google.Apis.YouTube.v3" version="1.37.0.1469" targetFramework="net452" />
  <package id="ILMerge" version="3.0.41" targetFramework="net45" requireReinstallation="true" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="SpotifyAPI-NET" version="2.19.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net452" />
  <package id="Vlc.DotNet.Core" version="2.2.1" targetFramework="net452" />
  <package id="Vlc.DotNet.Core.Interops" version="2.2.1" targetFramework="net452" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net452" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
  <package id="ZoySoy.GenericComparer" version="1.1.0" targetFramework="net452" />
</packages>